
html {
  background-color: #
  font-family: "Neilvard Four", serif;
  margin: 0;
  padding: 0;
  box_sizing: border-box;
}

body {
  width: 70%;
  margin: 0 auto;
  background-color: "#C16247"
  padding: 0 15px 15px 15px;
  border: 5px solid black
}

h1 {
  text-align: center;
  margin: 10px 0;
  padding: 10 px 0;
  color: "#160802"
}

p{
 color:"#160802"
}

li {
 color:"#641B0A"
 }
}

@media only srceen and (max-width:400px){
h1 {
font-size: 2vw;
text-align: center;
margin: 0;
padding: 10px 0;
color:"#461B10"
text-shadow: 3px 3px 1px black;
}

p{
    font-size:1vw;
  }
}

li {
   font-size: 1vw;

  }
}


@media only sreen and (min-width:401px) and (max-width:1980px){
h1 {
   font-size:5vw;
   text-align: center;
   margi: 0;
   padding: 20px 0;
   color: "#190B04"
   text-shadow: 3px 3px 1px black;
}

p{
    font-size:3vw;

  }

li {

   font-size: 3vw;

  }
}

.testbtn {
  background-color: "#04AA6D";
  color: white;
  font-size: 15px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.testbtn:hover {
  background-color: #059862;
}
